<div class="container">
  <div class="row pull-right"><button class="btn btn-info" [routerLink]="['/employees/add']">Add Employee</button></div>
 <br/>
  <table class="table table-hover" *ngIf="employeeList">
    <thead>
      <tr>
        <th>Fullname</th>
        <th>Email ID</th>
        <th>Phone Number</th>
        <th>Username</th>
        <th>Password</th>
        <th>Address</th>
        <th>Date of Birth</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let emp of employeeList">
        <td>{{emp.fullname}}</td>
        <td>{{emp.emailId}}</td>
        <td>{{emp.phone}}</td>
        <td>{{emp.username}}</td>
        <td>{{emp.password}}</td>
        <td>{{emp.address}}</td>
        <td>{{emp.dob}}</td>
        <td><button class="btn btn-primary">Edit</button>
			<button (click)="deleteEmpDetails(emp)"class="btn btn-danger">Delete</button>
		</td>
      </tr>
      
    
    </tbody>
  </table>
</div>
